@page
@model Pages.SignUp
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Sentient Horizon Sign Up";
    ViewData["User"] = Model.AnUser;
}
<div id="content">
    <h1>Sign up</h1>
    <form method="post">
        <label asp-for="@Model.Name"></label>
        <input asp-for="@Model.Name" /><br/>

        <label asp-for="@Model.Passphrase"></label>
        <input asp-for="@Model.Passphrase" type="password" /><br/>
        <input type="submit" value="Sign up" />
    </form>
    @if (Model.Validations.Any())
    {
        <ul class="validations">
        @foreach (var validation in Model.Validations)
        {
            <li>@validation.Message</li>
        }
        </ul>
    }
</div>